<!DOCTYPE html>
<html lang="en">

  <%- include('partials/header'); %>
  <body>

    <main>
      <div class="container m-3">
        <div class="row">
          <div class="col"><%- include('partials/card'); %></div>
          <div class="col"><%- include('partials/card'); %></div>
          <div class="col"><%- include('partials/card'); %></div>
        </div>
      </div>
    </main>
  </body>


  <footer><%- include('partials/footer'); %></footer>
</html>
