<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

   <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script> -->

  <%- include('partials/head'); %>
  </head>

  <body>
    <%- include('partials/header'); %>
  </body>
      <!-- Page-specific (main) content here -->
  <main>


    <div class="container m-3">
      <div class="map_row row">
        <% for (let i=0; i<maps.length; i++) { %>

         <div class="add_map" class="col">
          <a href="/map/<%= maps[i].id %>">
            <div class="card" style="width: 18rem;">
              <img src="<%= maps[i].image_url %>" alt="...">
              <div class="card-body">
                <p class="card-text"><%=maps[i].title%></p>
              </div>
            </div>
            </a>
          </div>
         <% } %>
      </div>
    </div>
  </main>

  <footer><%- include('partials/footer'); %></footer>

</html>
