<!DOCTYPE html>
<html lang="en">

  <%- include('partials/header'); %>
  <body>
    <main class="main">

          <% for (let i=0; i<maps.length; i++) { %>

         <div class="col map-col">
          <a href="map/view/<%= maps[i].id %>">
            <div class="card" >
              <img src="<%= maps[i].image_url %>" alt="...">
              <div class="card-body">
                <p class="card-text"><%=maps[i].title%></p>
                </div>
              </div>
              </a>
            </div>
           <% } %>

      </main>
  </body>

  <footer><%- include('partials/footer'); %></footer>

</html>
