<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('partials/head'); %>
  </head>

  <body>
    <%- include('partials/header'); %>
  </body>

  <main>
    <h4>Profile</h4>

    <h4>Favorited Maps</h4>

    <%= console.log(users) %>
    <% for (user of users) { %>
    <%= user.title %>
    <% }; %>

    <h4>Contributed To:</h4>

  </main>

  <footer><%- include('partials/footer'); %></footer>
</html>
