<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header'); %>

  <body>
    <main>
      <h4>Profile</h4>

      <% if (users) { %>
        <p> Name: <%= users[0].name %> </p>
        <p> Email: <%= users[0].email %> </p>
      <% } %>


      <h4>Favorited Maps</h4>

      <ul>
        <% if (users){ %>
          <% for (user of users) { %>
            <li>
              <a href="#"> <%= user.title %> </a>
            </li>

           <% } %>
           <% };%>
      </ul>


      <h4>Contributed To:</h4>

<ul>
  <% if (contributed){ %>
    <% for (map of contributed) { %>
      <li>
        <a href="#"> <%= map.title %> </a>
      </li>

     <% } %>
     <% };%>
</ul>




    </main>
  </body>

  <footer><%- include('partials/footer'); %></footer>
</html>
