<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header'); %>

  <body>
    <main class="profile">
      <h4>Profile</h4>

      <% if (users) { %>
        <p> Name: <%= users[0].name %> </p>
        <p> Email: <%= users[0].email %> </p>
      <% } %>


      <h4>Favorited Maps</h4>

      <div class="profile-card">
        <% if (users){ %>
          <% for (user of users) { %>

              <a class="link" href="map/view/<%= user.id %>">

            <div class="map-col ">
                <div class="card fav-card" >
                  <img src="<%= user.image_url %>" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%=user.title%></h5>
                    </div>
                  </div>
                  </a>
                </div>
           <% } %>
           <% };%>
       </div>


    <h4>Contributed To:</h4>

    <div>
      <% if (contributed){ %>
        <% for (map of contributed) { %>

          <a class="link" href="map/view/<%= map.id %>">
          <div class="map-col">
            <div class="card fav-card" >
              <img src="<%= map.image_url %>" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%=map.title%></h5>
                </div>
              </div>
              </a>
            </div>
        <% } %>
        <% };%>
          </div>

    </main>
  </body>

  <footer><%- include('partials/footer'); %></footer>
</html>
